*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}
header{
    width: 1200px;
    margin: auto;
    height: 60vh;
    background-color: lightcyan
    
}
/* nav */
nav{
    background-color: white;
    width: 100%;
   
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
ul{
    list-style-type: none;
}

.fl{
    float: left;
}

.flr{
    float: right;
}

nav ul{
    
    line-height: 25px;
    
}

nav ul li{
    list-style: none;
    display: inline;
    margin: 8px 10px;

}

/*    fine nav    */
    
/* introduzione foto e testo */
.titolo-main{
    text-align: start;
    float: left;
    font-size: 40px;
    margin-top: 20px;
}
.dimensioni-text{
    width: 500px;
    height:500px;
    padding-top: 10px;
    padding: 30px 30px;
    text-align: left;
    float: left;
}

    

.img2{
    width: 700px;
    margin-top: 100px;
    vertical-align: super;
}

main{
    width: 700px;
    margin: auto;
   
   margin-top: 300px;
}



.top form span{
    
    margin: 6px ;
    
}

.bottoni{
    margin-top: 20px;
}
/* inizio colonne */
.list-left>li{
    display: inline-block;
}

.list-left{
    float: left;
    margin-top: 20px;
   
   
}

.bordolist{
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 100%;
    padding: 2px ;

}       

.colonna{
    width: calc(100% / 3);
    border: 1px black solid ;
    float:left
    
    
}

.costo{
    margin-right: 20px;
}

.parte-superiore>:first-child{
    text-align: center;
}

.colonna ul li{
    
  padding: 10px;
}

.centra-text{
    text-align: center;
}

.colonna li h2{
    text-align: center;
}

.colonna-orizz{
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: black;  
      
   
    
}




.ti-centro{
    text-align: center;
    
}

.sezione-orizzontale{
    width: 700px;
    margin: auto;
    border: 1px solid black;
    
   
}  

.foto-testo{
    width: 700px;
    margin: auto;
}



.foto-testo div>img{
    width: 340px
}

.testo-partner {
    background-color: black;
    width: 340px;
    padding-top: 50px;
    margin-top: 50px;
}

.sei-flottanti{
    width: 700px;
    margin: auto;
}

#img-tempo{
    height: 150px;
    width: 150px;
   
}

.container-float{
    width: calc(100% / 3 - 20px);
    margin: 10px 10px;
}

.cards{
    width: calc( 1200px / 3 );
    
    height: 400px;
    background: plum;
    
}

.card{
    width: calc(100% / 2);
    height: 200px;
    
}

.griglia{
width: 1200px;

margin: auto;
}

.a :nth-child(1){
    background-color: green;
}


.a :nth-child(2){
    background-color: brown;
}


.a :nth-child(3){
    background-color: blue
}


.a :nth-child(4){
    background-color: orange;
}


.b :nth-child(1){
    background-color: red;
}


.b :nth-child(2){
    background-color: lightcyan;
}


.b :nth-child(3){
    background-color: rgb(4, 4, 53)
}


.b :nth-child(4){
    background-color: yellow;
}

.griglia-bottom{
    width: 1200px;
    
    height: 200px;
    background: cornflowerblue;
}


.faq{
width: 700px;
margin: auto;
}

.questions {
    width: 95%;
    font-size: 13px;
}

.flag{
    width: 5%;
}

.container-questions{
    padding: 20px 0px;
}

.nav-inferiore{
    width: 1200px;
    background: black;
    height: 800px;
    margin: auto;
}

.white{
    color: white;
    margin: 180px 30px 0px 120px;
    
 
}
