*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}
header{
    width: 1200px;
    margin: auto;
    height: 85vh;
    
    background-color: lightcyan
    
}


.buttonblue{
    background-color: rgb(23, 120, 247);
    padding: 10px 15px;
    border: none;
    color: white;
}



/* nav */
nav{

    background-color: white;
    width: 100%; 
}
   

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
ul{
    list-style-type: none;
}

.fl{
    float: left;
}

.flr{
    float: right;
}

nav ul{
    
    line-height: 25px;
    
}

nav ul li{
    list-style: none;
    display: inline;
    margin: 8px 10px;

}

/*    fine nav    */
    
/* introduzione foto e testo */
.titolo-main{
    text-align: start;
    float: left;
    font-size: 35px;
    margin-top: 20px;
    padding-left: 100px;
    line-height: 50px;
  
}
.dimensioni-text{
    width: 500px;
    height:500px;
    padding-top: 10px;
    padding: 10px  50px 0px 100px;
    
    float: left;
}

#underbutton{
    margin-top: 10px;
    font-size: 13px;
}

#freccia-under{
margin-top: 10px;
font-size: 40px;
} 
.navbutton{
    
    
    color: white;
    margin-top: 20px;
}


.img2{
    width: 700px;
    margin-top: 100px;
    padding-left: 40px;
}

main{
    width: 700px;
    margin: auto;
   
   margin-top: 300px;
}



.top form span{
    
    margin: 6px ;
    
}

.bottoni{
    margin-top: 20px;
}
/* inizio colonne */
.list-left>li{
    display: inline-block;
}

.list-left{
    float: left;
    margin-top: 20px;
   
   
}

.bordolist{
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 100%;
  

} 

.bordolist span >img{
width: 20px;
vertical-align:top;

}

.colonna ul>.omino::before{
  
   
       content:"\260E";
       float: left;
       padding-right: 5px;
   
  
}
.padding-colonna{
    padding: 20px 15px;
}
.padding-colonna ul :nth-child(1){
    padding-top: 10px;
}
.padding-colonna ul :nth-child(2){
    padding-top: 10px;
}
.padding-colonna ul :nth-child(3){
    padding-top: 10px;
}
.padding-colonna ul :nth-child(4){
    padding-top: 10px;
}
.padding-colonna ul :nth-child(5){
    padding-top: 10px;
}
.button-colonna{
    padding-top: 10px;
}
.horizontal{
    width: 40px;
}

.colonna{
    width: calc(100% / 3 - 35px);
    border: 1px black solid ;
    float:left;
    margin: 17px;
    
    
}

.costo{
    margin-right: 20px;
}

.parte-superiore>:first-child{
    text-align: center;
}




.centra-text{
    text-align: center;
}



.colonna-orizz{
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: black;  
      
   
    
}
.orizz-left{
    padding-left: 15px;
}
.orizz-left>h2{
font-size: 17px;
}
.orizz-left>h3{
    font-size: 14px;
}

.orizz-left>p{
    font-size: 10px;
}

.orizz-button{
    margin-right: 20px;
}


.ti-centro{
    text-align: center;
    
}

.sezione-orizzontale{
    width: 700px;
    margin: auto;
    border: 1px solid black;
    height: 140px;
    
   
}  

.foto-testo{
    width: 700px;
    margin: auto;
}



.foto-testo div>img{
    width: 340px
}

.testo-partner {
    
    width: 340px;
    padding-top: 30px;
    
    padding-left: 25px;
}

.testo-partner>h1{
    padding:20px 0px;
}
.testo-partner>p{
font-size: 13px;
}
.testo-partner>button{
padding: 10px;
background: white;
margin-top: 20px;
border: 1px solid black;
}

.sei-flottanti{
    width: 700px;
    margin: auto;
}

#img-tempo{
    height: 200px;
    width: 200px;
   
}

.container-float{
    width: calc(100% / 3 - 20px);
    margin: 10px 10px;
}
/* SPONSOR-ZONE */
#sponsor-zone>div{
    height: 500px;
    width: 33.3%;
    float: left;
}
#sponsor-zone>div:nth-child(1)>div, #sponsor-zone>div:nth-child(3)>div{      /* LEFT */
    float: left;
    width: 50%;
    height: 50%;
}
#sponsor-zone>div:nth-child(1)>div:nth-child(1){
    padding: 40px;
    background-color: greenyellow;
}
#designit{
    height: 100%;
    background-image: url(../img/designit.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert();
}
#sponsor-zone>div:nth-child(1)>div:nth-child(2){
   background-color: brown;
   padding: 40px;
}
#asu{                   
   height: 100%;       
   background-image: url(../img/arizona_state_university.svg);
   background-size: contain;    
   background-repeat: no-repeat;
   background-position:center;  
   filter: invert();            
}
#sponsor-zone>div:nth-child(1)>div:nth-child(3){
   background-color: rgb(48, 138, 194);
   padding: 40px;
}
#uf{
   height: 100%;
   background-image: url(../img/university_of_florida.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   filter: invert();
}
#sponsor-zone>div:nth-child(1)>div:nth-child(4){
   background-color: red;
   padding: 40px;
}
#topps{
   height: 100%;
   background-image: url(../img/topps.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   filter: invert();
}
#sponsor-zone>div:nth-child(2){          /* CENTER */
    background-color: lightgrey;
    padding: 50px;
}
#sponsor-zone>div:nth-child(2)>img{
    width: 30%;
    height: auto;
    margin-bottom: 30px;
}
#sponsor-zone>div:nth-child(2)>hr{
    width: 50px;
    color: grey;
    margin-bottom: 30px;
}
#sponsor-zone>div:nth-child(2)>p{
    font-weight: 700;
    margin-bottom: 30px;
}
#sponsor-zone>div:nth-child(2)>span{
   font-weight: 700; 
}

#sponsor-zone>div:nth-child(3)>div:nth-child(1){              /* RIGHT */
   background-color: red;
   padding: 40px;
}
#world{
   height: 100%;
   background-image: url(../img/world_bicycle_relief.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   filter: invert();
}
#sponsor-zone>div:nth-child(3)>div:nth-child(2){
  background-color:lightblue;
  padding: 40px;
}
#hearst{
   height: 100%;
   background-image: url(../img/hearst_corp.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   filter: invert();
}
#sponsor-zone>div:nth-child(3)>div:nth-child(3){
  background-color:blue;
  padding: 40px;
}
#lonely{
   height: 100%;
   background-image: url(../img/lonely_planet.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   filter: invert();
}
#sponsor-zone>div:nth-child(3)>div:nth-child(4){
  background-color: rgba(249, 253, 0,.4);
  padding: 10px;
}
#sponsor-zone>div:nth-child(3)>div:nth-child(4)>div{
   background-color: rgb(219, 189, 20);
   height: 100%; 
   width: 100%;
   padding: 50px;
}
#clear{
   height: 100%;
   background-image: url(../img/clear_channel.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   filter: invert();
}
#sponsor-zone>div:last-child{              /*BOTTOM  */
    background-color:  lightskyblue;
    width: 100%;
    height: 250px;
}
#sponsor-zone>div:last-child>div{
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#sponsor-zone>div:last-child>div h1{
    width: 60%;
    font-size: 40px;
}
#sponsor-zone>div:last-child>div input[type="button"]{
   position: absolute;
   right: 0px;
   top: 10px;
   font-size: 20px;
   padding: 10px;
   background-color: white;
   border:none;
   font-weight: 700;
}


.faq{
width: 700px;
margin: auto;
}

.questions {
    width: 95%;
    font-size: 13px;
}

.flag{
    width: 5%;
}

.container-questions{
    padding: 20px 0px;
}

.nav-inferiore{
    width: 1200px;
    background: black;
    height: 800px;
    margin: auto;
    padding-bottom:10px;
}

.white{
    color: white;
    margin: 180px 30px 0px 120px;
    
 
}

.size-navb{
    font-size: 13px;
}


