*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}
header{
    width: 1200px;
    margin: auto;
    height: 50vh;
    background-color: lightcyan;
    
    
}
/* nav */
nav{
    background-color: white;
    width: 100%;
    border: 1px black solid;    
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
ul{
    list-style-type: none;
}

.fl{
    float: left;
}

.flr{
    float: right;
}

nav ul{
    
    line-height: 25px;
    
}

nav ul li{
    list-style: none;
    display: inline;
    margin: 8px 10px;

}

/*    fine nav    */
    
/* introduzione foto e testo */
.titolo-main{
    text-align: start;
    float: left;
}
.dimensioni-text{
    width: 500px;
    height:500px;
    padding-top: 10px;
    padding: 30px 30px;
    text-align: left;
    float: left;
}

    

.img2{
    width: 700px;
    margin-top: 100px;
}

main{
    width: 700px;
    margin: auto;
   
   margin-top: 200px;
}



.top form span{
    
    margin: 6px ;
    
}

.bottoni{
    margin-top: 20px;
}
/* inizio liste */
.list-left>li{
    display: inline-block;
}

.list-left{
    float: left;
    margin-top: 20px;
   
   
}

.bordolist{
    border:1px solid black;
    text-align: center;
    width: 100%;
    padding: 2px ;

}       

.colonna{
    width: calc(100% / 3);
    border: 1px black solid ;
    float:left
    
    
}

.costo{
    margin-right: 20px;
}

.parte-superiore>:first-child{
    text-align: center;
}

.colonna ul li{
    
  padding: 10px;
}

.centra-text{
    text-align: center;
}

h2{
    text-align: center;
}